<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
  <h1>
    Posts
  </h1>
  <ul class="list-group">
  <app-post-list-component *ngFor="let post of posts" [post]="post"></app-post-list-component>
  </ul>
</div>
  </div>
</div>

