
 <li [ngClass]="{ 'list-group-item': true, 'list-group-item-success': post.loveIts > 0, 'list-group-item-danger': post.loveIts < 0 }" >
   <div class="form-group">
     <div class="text-right">{{post.created_at | date : 'short' | uppercase }}</div>
   <h3>{{post.title}}</h3>
   </div>
   <p>{{post.content}}</p>
  <div class="form-group">
    <button class="btn btn-success" (click)="onLove()">Love it !!!</button> &nbsp;&nbsp; <button class="btn btn-danger" (click)="onHate()">don't love it !!!</button>
  </div>
 </li>

